<div id="container-exp">
    <nav id="header" class="navbar navbar-default navbar-fixed-top">
        <div id="instructionHeader">
            <div class="alert alert-info" role="alert" id="trialNumber">
            </div>
            <button class="tooltip btn btn-primary btn-lg" id="tooltip" data-toggle="tooltip">Re-read Instructions</button>
            <div id="trial"></div>
            <div id="trialImage"></div>
            <div id="query"></div>
        </div>
    </nav>

    <div id="responses"></div>

    <div id="notComplete" class="alert alert-danger" role="alert">Please answer all questions before continuing.</div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- <button id="checkAll">Check All</button> -->
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
    
    </div>

    </div>
</div>