<!doctype html>

<html>
	<head>
		<title>Experiment</title>
		<link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
		<link rel=stylesheet href="/static/css/style.css" type="text/css">
	</head>
	<body>
		<div id="container-ad">

			<div id="ad">
				<div class="row">
					<div class="col-xs-2">
						<img id="adlogo" src="/static/images/r.png" alt="RHIT Logo" />
					</div>
					<div class="col-xs-10">
						<h1>Welcome to our experiment</h1>
						<hr>
					    <div class="alert alert-warning">
					    	<p>You may only access this experiment through Mechanical Turk.</p>
					    </div>
					</div>
			</div>
		</div>
	</body>
</html>