<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <!-- Content of Instructions Page -->
        
        <p>
            You will see a series of three different stories about three people.
            Then you will be asked to rate how satisfying several explanations
            are for why each person did or didn't do something.
        </p>

        <p><b>
            If you don't understand the story, please 
            reread it carefully before rating any explanations.
        </b></p>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
