<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <!-- Content of Instructions Page -->
        
        <p>
            Four unrelated people, Jacob, David, Alex, and Matt, were all given
            a coupon to redeem for a free ticket to a show. The show has three
            stages with different performers. A clown performs on one stage, an
            acrobat performs on one stage, and a magician performs on one stage.
            Each person went online and chose one section (of five) to sit in.
            All stages are at least partially visible from every section, but
            closer stages are easier to see.
        </p>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
